body {
   font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

label {
    display: block;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 1.8rem;
  color: #1a237e;
  
  
}


h1,h2,h3 {
  font-size: 1.5rem;
  color:  #006400;
}



